<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanshen.module.system.dao.PermissionPointDao">

    <resultMap id="baseMap" type="com.nanshen.module.system.entity.PermissionPoint">
        <id column="id" property="id"/>
        <result column="point_class" property="pointClass"/>
        <result column="point_icon" property="pointIcon"/>
        <result column="point_status" property="pointStatus"/>
    </resultMap>


    <select id="findById" resultMap="baseMap">
        select * from permission_point where id = #{id};
    </select>


    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        insert into permission_point (id,point_class,point_icon,point_status)
        values (#{id},#{pointClass},#{pointIcon},#{pointStatus});
    </insert>

    <update id="update" parameterType="com.nanshen.module.system.entity.PermissionPoint">
        update permission_point
        <set>
            <if test="pointClass!=null">
                point_class=#{pointClass},
            </if>
            <if test="pointIcon!=null">
                point_icon=#{pointIcon},
            </if>
            <if test="pointStatus!=null">
                point_status=#{pointStatus},
            </if>
        </set>
        where id=#{id};
    </update>
    
    <delete id="deleteById  ">
        delete from permission_point where id=#{id};
    </delete>

</mapper>